* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

  }


@font-face {
    font-family: sixcaps;
    src: url(assets/fonts/SixCaps-Regular.ttf);
}

@font-face {
    font-family: permanent;
    src: url(assets/fonts/OPTIPermanent-Headline.otf);
}


h1 {
    font-family:sixcaps ;
    font-size: 150px;
    margin: auto;
}

h2 {
    font-family: 'Times New Roman', Times, serif;
}

h3 {
    font-family: 'Times New Roman', Times, serif;
}

#titleleft {
    font-family: sixcaps;
    color: black;
    background-color: white;
    font-style: italic;
    font-size: 250px;
    text-align: center;
    font-weight: bold;
    border-width: 10px 5px 0px 5px;
    border-color: black;
    border-style: solid;
}

#titleright {
    font-family: sixcaps;
    color: white;
    background-color: red;
    font-style: italic;
    font-size: 250px;
    text-align: center;
    font-weight: bold;
    border-width: 0px 5px 10px 5px;
    border-color: black;
    border-style: solid;
}

#thbw {
    background-image: url(assets/img/thpostcardblack.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-width: 0px 0px 10px 0px;
    border-color: black;
    border-style: solid;
}

#body {
    width: 80%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    background-color: white;

}

#bodytitle {
    padding: 10px;
    text-decoration: underline;
}


#right {
    width: 20%;
    height: 100%;
    float: right;
    border-width: 0px 0px 0px 5px;
    border-color: grey;
    border-style: solid;
    background-color: white;
    color: greenyellow;
    font-weight: bold;
    font-size: 20px;
    
}

#left {
    width: 80%;
    
}

#navtitle {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    background-color: red;
    color: greenyellow;
    margin: 10px;
}

html {
    background-color: red;
}

a {
    text-decoration: none;
    color: black;
    padding: 2px;
    width: 80%;
    display: block;
}

a:hover {
    color: white;
    background-color: red;

}

#list {
    margin-left: 20%;
}